<% todoTasks.forEach((details)=>{ %>
    <li>
        <% if (details._id==idTask) { %>
            <form class="todo-edit-form" action="/edit/<%= details._id %>" method="POST"> <input class="edit-input"
                    type="text" value="<%= details.content %>" name="content">
                <a href="/" class="cancel">Cancel</a>
                <button type="submit" class="save">Save</button>
                <a href="/remove/<%= details._id %>" class="remove">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </form>
            <% } else { %>
                <div>
                    <%= details.content %>
                </div>
                <a href="/edit/<%= details._id %>" class="edit-btn">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a href="/remove/<%= details._id %>" class="remove">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
                <% } %>
    </li>
    <% }) %>